{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Evenements
{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{ path('event_create') }}" >Créer un évènement</a>
	<ul>
		{% for event in events %}
			<li>
				<a href="{{path('event_show', { id: event.id }) }}">{{ event.name }}</a>
				<p>{{'Du ' ~ event.startAt.format('d/m/Y à H\\hi') ~ ' au ' ~ event.startAt.format('d/m/Y à H\\hi') }}</p>

				{# {{ dump(event.startAt) }}
				{{ dump(date()) }}
				{{ dump(event.startAt <= date() and event.endAt >= date() ) }} #}


				{% if event.startAt <= date() and event.endAt >= date() %}
					<span class="badge bg-warning text-dark">En cours</span>
				{% elseif event.endAt < date() %}
					<span class="badge bg-danger">Passé</span>
				{% else %}
					<span class="badge bg-success">Futur</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

{% endblock %}
